<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807170768917-3er2pq2v0i0cl3qdns4b9gs89d5vij9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807170768917-3er2pq2v0i0cl3qdns4b9gs89d5vij9q</string>
	<key>API_KEY</key>
	<string>AIzaSyBOXchmXfg1UnQPeg9hPCq0Zclz8Nn-Er4</string>
	<key>GCM_SENDER_ID</key>
	<string>807170768917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebase.demo1</string>
	<key>PROJECT_ID</key>
	<string>fir-1-15ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-15ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807170768917:ios:04a8b66f09b86b04</string>
	<key>DATABASE_URL</key>
	<string>https://fir-1-15ae4.firebaseio.com</string>
</dict>
</plist>